:root {
  --fs-12: 12px; /* 0.75rem * 16px = 12px */
  --fs-14: 14px; /* 0.875rem * 16px = 14px */
  --fs-20: 20px; /* 1.25rem * 16px = 20px */
  --fs-18: 18px; /* 1.25rem * 16px = 20px */
  --main-color: #8d8d8d;
  --secound-color: #0000ff;
  --third-color: #cac5c5;
  --margin-right: 20px;
  --padding-top: 100px;
  --larage-line-height: 1.6;
  --small-line-height: 1.3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Customize the scroll bar for Webkit browsers like Chrome */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Handle of the scroll bar */
::-webkit-scrollbar-thumb {
  background: #161616; /* Color of the scroll handle */
  border-radius: 10px; /* Rounded corners */
}

/* Handle of the scroll bar when hovered */
::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color when hovered */
}

/* Track of the scroll bar */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Background of the scrollbar track */
  border-radius: 10px; /* Rounded corners */
  box-shadow: inset 0 0 5px grey; /* Inner shadow for the track */
}

body {
  font-family: "Ubuntu", sans-serif;
}

a {
  display: inline-block;
  text-decoration: none;
  color: var(--main-color);
  font-size: var(--fs-14);
  margin-right: var(--margin-right);
  height: 100%;
}

.bck {
  width: 100%;
  background: url("../images/21.jpg") no-repeat center center fixed;
  background-size: cover;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.number {
  font-weight: bold;
  font-size: var(--fs-20);
  min-width: 60px;
  min-height: 60px;
  border: var(--main-color) 5px solid;
  border-radius: 50%;
  text-align: center;
  padding: 4% 0;
  transition: border-color 0.3s ease;
}

.main-section {
  min-height: calc(100vh - 66.8px);
  color: #8d8d8d;
  display: flex;
  gap: 5%;
  align-items: end;
  padding-bottom: 5%;
}

/* the three main circle topics and their hovers */
.topics {
  cursor: pointer;
  width: 30%;
  display: flex;
  align-items: center;
  gap: 5%;
  transition: color 0.3s ease;
}

.topics:hover .number {
  border-top-color: var(--secound-color);
  border-right-color: var(--secound-color);
  border-bottom-color: var(--secound-color);
}

.topics:hover .topic {
  color: #fff;
}
/* ////////////////////////////////////////end circles */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of first section*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of first section*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of first section*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of first section*/
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of first section*/

.active-secound-section {
  color: #000;
  border-bottom: var(--secound-color) 2px solid;
}

.news {
  display: grid;
  width: 100%;
  padding-top: 100px;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 50px 600px 30px 1fr;
  column-gap: 50px;
}

.secound-nav {
  padding-top: 12px;
  grid-column: 1 / 2;
  align-self: start;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #f1f1f1;
}

.section-title {
  text-transform: capitalize;
  font-weight: bolder;
  font-size: var(--fs-20);
}

.secound-links a {
  padding-bottom: 14px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the secound heaer */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the secound heaer */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the secound heaer */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the secound heaer */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the secound heaer */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the secound heaer */
.content-of-secound-section {
  align-self: start;
  grid-column: 1 / 2;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10%;
}
.card {
  margin-bottom: 12px;
  position: relative;
  width: 45%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-tag {
  position: absolute;
  left: 25px;
  top: 15px;
  display: inline-block;
  background-color: #fff;
  color: #0000ff;
  padding: 4px 8px;
  font-size: 12px;
  margin-bottom: 8px;
}

.card-image {
  width: 100%;
  height: 60%;
  object-fit: cover;
}

.card-text {
  padding: 16px;
}

.card-title {
  font-size: var(--fs-18);
  font-weight: 600;
  letter-spacing: 2;
  line-height: 1.3;
  margin-bottom: 16px;
}

.card-desc {
  font-size: var(--fs-14);
  color: var(--main-color);
  margin-bottom: 12px;
  line-height: 1.6;
}

.card-author {
  font-size: var(--fs-12);
  color: var(--main-color);
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the card */

.related-posts {
  width: 45%;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.small-card {
  height: 100px;
  margin-bottom: 10px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* /////////////////////// overwritten code */
.small-card p:first-child {
  color: #000;
  font-weight: 600;
}

.small-card img {
  width: 120px;
  height: 100px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the related posts */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the related posts */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the related posts */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the related posts */

.controller {
  padding: 30px 12px;
}

.controller button {
  color: #8d8d8d;
  border: none;
  background: none;
  margin-right: 10px;
  cursor: pointer;
  font-size: 26px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of controller  */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of controller  */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of controller  */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of controller  */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////// end of controller  */

.side-bar {
  grid-column: 2 / 3;
  grid-row: 1/3;
  width: 100%;
}

.title {
  padding: 12px 22px;
  border-bottom: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
  text-transform: capitalize;
}
.para {
  padding: 36px 22px;
  font-size: 14px;
  color: #8d8d8d;
  line-height: 1.4;
  border-bottom: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
}

.very-small-card {
  display: flex;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.very-small-card img {
  width: 80px;
  height: 80px;
}

.very-small-card p {
  padding: 12px;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 600;
}

.top-stories {
  padding: 36px 22px;
  border-bottom: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
}

.icons {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding: 26px 22px;
  border-bottom: 2px solid #f1f1f1;
  border-left: 2px solid #f1f1f1;
}

.today-pick {
  padding: 14px 22px;
  border-left: 2px solid #f1f1f1;
}

.today-pick img {
  width: 100%;
  height: 60%;
}

.today-pick p {
  padding: 10px 4px;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////   end of side-bar */

.row {
  padding-top: 100px;
  grid-column: 1/ 3;
  display: flex;
  justify-content: space-between;
}

.box {
  width: 380px;
  height: 200px;
  position: relative;
}

.box img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(50%);
}

.box .card-tag {
  position: absolute;
  left: 41%;
  top: 20px;
  display: inline-block;
  background-color: #fff;
  color: #0000ff;
  padding: 4px 8px;
  font-size: 12px;
  margin-bottom: 8px;
  z-index: 2;
}

.box-text {
  color: #fff;
  position: absolute;
  top: 70px;
  left: 10px;
  right: 10px;
  padding: 8px;
  font-size: var(--fs-20);
  font-weight: 400;
  text-align: center;
  z-index: 2;
}

.box-para {
  color: var(--main-color);
  position: absolute;
  bottom: 2px;
  left: 10px;
  right: 10px;
  padding: 8px;
  font-size: 14px;
  text-align: center;
  z-index: 2;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the row */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the row */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the row */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the row */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the row */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of the row */

.big-box .title {
  border: none;
  width: 100%;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f1f1f1;
}

.big-box .card {
  width: 100%;
  height: 200px;
  display: flex;
}

.big-box .card img {
  height: 100%;
  width: 35%;
}

.big-box .card-text {
  padding: 30px;
}

/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the big box */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the big box */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the big box */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the big box */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the big box */
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////  end of the big box */

.sec-aside {
  grid-column: 2/3;
}

.sec-aside .title {
  border: none;
  width: 100%;
  padding: 0;
  padding-top: 60px;
  padding-bottom: 10px;
  margin-bottom: 40px;
  border-bottom: 2px solid #f1f1f1;
}

.sec-aside .card {
  width: 100%;
}

.sec-aside .card video {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.load {
  grid-column: 1 / -1;
  padding: 100px;
  text-align: center;
}
.load button {
  display: inline-block;
  padding: 12px 25px;
  border-radius: 25px;
  background: none;
  color: #8d8d8d;
  border: #cac5c5 2px solid;
  cursor: pointer;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of sec aside  */

.bck-2 {
  background: none;
  background-color: #161616;
  /* height: 100vh; */
}

footer {
  position: relative;
  padding: 80px 0;
  display: grid;
  grid-template-columns: 2.5fr 1fr;
  grid-template-rows: 1fr;
  column-gap: 50px;
}

.collection {
  grid-column: 1/2;
  display: flex;
  gap: 250px;
}
.box-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 200px;
}

.box-1 p {
  color: var(--main-color);
  font-size: var(--fs-12);
}

.box-2 {
  display: flex;
  padding-top: 8px;
  gap: 40px;
}

.block {
  display: flex;
  flex-direction: column;
}

.subscribe {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.input-container {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #cac5c5;
  padding: 0 6px;
  max-width: 350px;
}

.input-container input {
  border: none;
  outline: none;
  background: none;
  color: #fff;
  padding: 5px 2px;
  flex-grow: 1;
  width: 272px;
}

.input-container .arrow {
  color: #bbb;
  cursor: pointer;
}

.input-container input::placeholder {
  color: #bbb;
}

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of footer */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of footer */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of footer */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of footer */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of footer */
/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// end of footer */
