.footer {
  background-color: #1a1a1a;
  padding: 40px 0;
  padding-bottom: 0;
  color: #FFF;
}
.footer h5 {
  color: #fff;
  font-size: 32px;
  margin-bottom: 20px;
  position: relative;
}
.footer h5::after {
  content: '';
  width: 40px;
  height: 2px;
  background-color: #007bff;
  display: block;
  margin-top: 5px;
}
.footer a {
  color: #000;
  text-decoration: none;
}
.footer a:hover {
  color: #fff;
}
.footer .popular-tags a {
  display: inline-block;
  background-color: #FFF;
  border-radius: 20px;
  padding: 5px 15px;
  margin: 5px;
  font-size: 14px;
  transition: background-color 0.3s;
}
.footer .popular-tags a:hover {
  background-color: #007bff;
}
.footer .post-item {
  display: flex;
  margin-bottom: 15px;
}
.footer .post-item img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin-right: 15px;
}
.footer .post-item .post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.footer .post-item .post-content a {
  font-size: 14px;
}
.footer .post-item .post-content span {
  font-size: 12px;
  color: #c6c6c6;
}
.footer-bottom {
  text-align: center;
  padding: 20px 0;
  color: #0c65ed;
  margin-top: 40px;
  font-size: 14px;
  box-shadow: 0 0 18px 0 rgba(0, 0, 0, 0.5);
}
